<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="true" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find intrepid_moveit_config)/default_warehouse_mongo_db" />

  <!-- By default, we do not launch RViz -->
  <arg name="rviz" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default, we won't load or override the robot_description -->
  <arg name="load_robot_description" default="false"/>

  <!-- By default, we are in simulation -->
  <arg name="sim" default="true"/>

  <!-- Default joint states topic -->
  <arg name="joint_states_topic" default="joint_states"/>

  <!-- Default ROBOT namespace -->
  <arg name="ns" default="robot"/>

  <group ns="$(arg ns)">

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find intrepid_moveit_config)/launch/move_group.launch">
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="fake_execution" value="false"/>
      <arg name="info" value="true"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="joint_states_topic" value="$(arg joint_states_topic)"/>
      <arg name="sim" value="$(arg sim)"/>
    </include>  

    <!-- If database loading was enabled, start mongodb as well -->
    <include file="$(find intrepid_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
      <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
    </include>	

  </group>

  <!-- If RViz loading was enabled, start RViz -->
  <include file="$(find intrepid_moveit_config)/launch/moveit_rviz.launch" if="$(arg rviz)">
    <arg name="rviz_config" value="$(find intrepid_moveit_config)/launch/intrepid.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_states_topic" value="$(arg joint_states_topic)"/>
  </include>	

</launch>
