<launch>
    <param name="use_sim_time" type="bool" value="False" /> # Set this parameter True while playing from bag file

    <arg name="subscribed_topic" default="/camera/depth/color/points" />
    <arg name="published_topic" default="/filtered_pcl/points" />

    <node name="republish_filtered_cloud_node" pkg="intrepid_deep_grasp_demo" type="republish_filtered_cloud_node" output="screen">
        <param name="subscribed_topic" type="string" value="$(arg subscribed_topic)"/>
        <param name="published_topic" type="string" value="$(arg published_topic)"/>
        <param name="loop_rate" type="int" value="10"/>
        <param name="buffer_size" type="int" value="1"/>
        # Voxel Grid Filter parameters
        <param name="leaf_size_x" type="double" value="0.01"/> # Set leaf size on x axis
        <param name="leaf_size_y" type="double" value="0.01"/> # Set leaf size on y axis
        <param name="leaf_size_z" type="double" value="0.01"/> # Set leaf size on z axis
        # PassThrough Filter parameters
        <param name="min_value_x" type="double" value="-20.0"/> # Set minimum distance x
        <param name="max_value_x" type="double" value="20.0"/> # Set maximum distance x
        <param name="min_value_y" type="double" value="-20.0"/> # Set minimum distance y
        <param name="max_value_y" type="double" value="20.0"/> # Set maximum distance y
        <param name="min_value_z" type="double" value="-20.0"/> # Set minimum distance z
        <param name="max_value_z" type="double" value="20.0"/> # Set maximum distance z
        # Statistical Outlier Removal Filter parameters
        <param name="meanK" type="int" value="50"/> # Set the number of neighbors to analyze for each point
        <param name="mulThresh" type="double" value="0.40"/> # Set standard deviation multiplier
        # ICP parameters
        <param name="max_distance" type="double" value="0.5"/>
        <param name="max_iteration" type="int" value="16"/>
    </node>
    <!--
    # Use transformation to base_frame if necessary.
    <node name="tf_broadcaster" pkg="simpcl" type="tf_broadcaster" output="screen">
        <param name="subscribed_topic" type="string" value="/odometry"/>
        <param name="base_frame" type="string" value="world"/>
        <param name="child_frame" type="string" value="stereo_camera"/>
        <param name="loop_rate" type="int" value="10"/>
    </node>
    -->
</launch>
